extends layout

block content
    h3 Inflation adjuster
    p This tool takes input data that consists of dates and dollar amounts, and gives you back the dollar amounts adjusted for inflation using a date of your choice.
    p 
      | It uses the 
      a(href="http://api.stlouisfed.org/docs/fred/series_observations.html") St. Louis FRED API
      |  to fetch the data that it uses for inflation adjustment. Data used is
      | the Consumer Price Index for All Urban Consumers (a.k.a. CPIAUCSL or CPI-U), and is available dating back to 1947.
    p
      | Both the text box and the file upload should understand csv and tsv
      | data consisting of a date and a number that represents a US dollar amount.
      | Make sure one the name of the date column is "date".
      | The other column can be called whatever you want.
    div(class="container")
        div(class="content")
            if error
                p(class="error") #{error}
            form(class="data-form" enctype="multipart/form-data" action="/adjust/" method="post")
                p Adjust to US dollars in: 
                    - var n = 1947
                    select(name="adjust_date")
                        while n < 2013
                            option(value="#{n}") #{n}
                                - n++
                        option(value="#{n}" selected) #{n}
                p
                    textarea(name="data_area" rows="10" cols="50") Paste data in here or upload a csv file.
                p
                    input(name="file" type="file" id="fileinput")
                p
                    button(type="submit" id="submit-button") Adjust

        div(class="content" style="display: #{display_output};")
            p
                textarea(name="output" rows="10" cols="50" readonly) #{text}
