extends layout

block content
    h3 Inflation adjuster
    p This tool takes input data that consists of dates and dollar amounts, and gives you back the dollar amounts adjusted for inflation using a date of your choice.
    p 
      | It uses the 
      a(href="http://api.stlouisfed.org/docs/fred/series_observations.html") St. Louis FRED API
      |  to fetch the adjustment data. Data used is
      | the Consumer Price Index for All Urban Consumers (a.k.a. CPIAUCSL or CPI-U), and is available dating back to 1947.
    p
      | Both the text box and the file upload should understand csv and tsv
      | data that consists of a date and a number that represents a US dollar amount.
      | Make sure the name of the date column is "date".
      | The other column can be called whatever you want.
    div(class="container")
        div(class="content")
            if error
                p(class="error") #{error}
            form(class="data-form" enctype="multipart/form-data" action="/adjust/" method="post")
                p Adjust to US dollars in: 
                    - var n = 1947
                    select(name="adjust_date")
                        while n < 2014
                            option(value="#{n}") #{n}
                                - n++
                        option(value="2014" selected) 2014
                        option(value="9999-12-31" ) Latest available
                div(class="content") 
                    textarea(name="data_area" id="data_area" rows="10" cols="50") 
                        if data_area_text
                            | #{data_area_text}
                        else
                            | Paste data in here or upload a csv file.
                    div(class="content" style="display: #{display_output};")
                        textarea(name="output" rows="10" cols="50" readonly) #{output_text}
                p
                    input(name="file" type="file" id="fileinput")
                p
                    button(type="submit" id="submit-button") Adjust
        h4 FAQ
        p
            strong Q: It said it couldn't handle my data!
        p A: Here are the most likely scenarios:
        ol
            li
                | The data has more than two columns. Sorry--for now, we can only
                | handle two columns at a time: one "date" column and another column.
            li 
                | Your data is not valid tsv or csv. If it looks right, it might be
                | that the columns are separated by spaces rather than tab characters. Copy-pasting from Excel should
                | work fine. 
            li
                | The computer doesn't understand your dates. It's actually pretty
                | good and can understand things like "1999", "8/18/91", "September,
                | 1963", and some other stuff. But it could get confused.
            li
                | Some dates are in the future or before 1947. Sorry, it can only
                | handle 1947-2015 for now.
        p
            strong Q: I typed stuff in the text box and also chose a file. Which is it going to use?
        p A: The file.
        p
            strong Q: How does this work?
        p 
          | A: It adjusts prices using the US Consumer Price Index. 
          a(href="/cpi" target="_blank") Here
          |  is the annual CPI data. You can try adjusting this data--the
          | adjusted values will all be the same.
